@import "../../styles/variables";

footer {
  margin-top: 150px;

  .copyright {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    color: $light-gray;
    padding-bottom: 30px;

    a {
      text-decoration: none;
      color: $light-gray;
    }
  }
}


