<header>
  <div class="container">
    <div class="row">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="navbar-header col-2">
          <a class="navbar-brand" href="#">
            <span class="navbar-text logo">This Interior</span>
          </a>
        </div>
        <button class="navbar-toggler collapsed d-lg-none" type="button"
                data-toggle="collapse" data-target="navbarToggler"
                aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          <!-- <span class="my-1 mx-2 close">X</span> -->
        </button>

        <div class="col-10 collapse navbar-collapse justify-content-end nav-menu" id="navbarToggler">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="#" target="_blank">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="collection.html" target="_blank">Collection</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="about.html" target="_blank">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact.html" target="_blank">Contact</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>
