<main>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 description">
        <h2 class="heading">Modern interior</h2>
        <p class="about">A full-Service residential &amp; commercial interior design and staging company offering professional
          organizing &amp; eco-services.</p>
        <span class="more">Read more <i class="material-icons">arrow_right_alt</i></span>
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-7 offset-lg-1 offset-xl-1">
        <img src="assets/photo1.png" width="820" height="590" class="main-image">
      </div>
    </div>
    <br clear="all" />
    <div class="inset container row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="inset-photo">
          <img src="assets/photo2.png" width="85" height="70" class="inset-image rounded-circle">
        </div>
        <div class="inset-info">
          <h4>Aliza Webber</h4><br clear="left" />
          <span>Interior designer</span>
        </div>
      </div>
      <br clear="all" />
      <p class="credit">Designed in 2020 by<br>Aliza Webber</p>
    </div>
  </div>
</main>
